{% extends "base.html" %}

{% block header %}
<h2 style="text-align: center;">Stores</h2>
{% endblock %}

{% block body %}
    <h3>Stores</h3>
    <p>
        <table>
            <tr><th>name</th><th>postcode</th></tr>
            {{ rows|safe }}
            <!-- {% for store in stores %}
            <tr><td>{{ store.name }}</td><td>{{ store.postcode }}</td></tr>
            {% endfor %} -->
        </table>
        <!-- {{ stores }} -->
        <!-- {{ configs|safe }} -->
    </p>
{% endblock %}